h1 {
  margin-bottom: 10px;
  margin-top: 250px;
}

h1,h2,p {
  text-align: center;
  color: rgb(0, 0, 0);
}

.input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: center;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.gameBoy {
  width: 250px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e23552
}

.screen {
  width: 200px;
  height: 190px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #80858a;
}
