* {
  box-sizing: border-box;
  background-color: #CADA9F;
}

@font-face {
  font-family: "early-gameboy";
  src: url("early-gameboy.ttf") format("truetype");
}

@font-face {
  font-family: "retro-gaming";
  src: url("retro-gaming.ttf") format("truetype");
}

.title, .input {
  text-align: center;
  color: #0f380f;
}

.title, #strategyButton {
  font-family: "early-gameboy", serif;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  margin-right: 5px;
  font-family: "retro-gaming", sans-serif;
  color: #306230;
  padding: 10px;
  border-radius: 5px;
  border-color: #306230;
  background-color: #CADA9F;
}


#gameStrategy {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  color: #0f380f;
  font-family: "retro-gaming", sans-serif;

} 

#strategyButton {
  padding: 10px;
  background-color: #8bac0f;
  border-width: 2px;
  border-color: #306230;
  border-radius: 5px;
  color: #306230;
}

#loadingIndicator {
  font-family: "early-gameboy", serif;
  color:#306230;
  margin-top: 10px; 
  text-align: center;
}