* {
  box-sizing: border-box;
  background-color: #CADA9F;
}

@font-face {
  font-family: "early-gameboy";
  src: url("early-gameboy.ttf") format("truetype");
  font-family: "retro-gaming";
  src: url("retro-gaming.ttf") format("truetype");
}

.title, .input {
  text-align: center;
  color: #0f380f;
}

.title {
  font-family: "early-gameboy", serif;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  margin-right: 5px;
  font-family: "retro-gaming", sans-serif;
}


